@model ProductGrouping.Models.ProductGroup

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProductGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductReference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductReference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductOwner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductOwner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
