@model ProductGrouping.Controllers.Helpers.PaginatedList<ProductGrouping.Models.ProductGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBox("SearchString", null, new { @class = "form-control" })
        <p class="form-text text-muted">Look for an existing product group</p>
        <input type="submit" class="btn btn-primary" value="Search" />
        <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                <p class="text-muted">Product Reference</p>
            </th>
            <th>
                <p class="text-muted">Product Owner</p>
            </th>
            <th>
                <p class="text-muted">Parent Reference</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.ProductReference)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<a asp-action="Index"    
    asp-route-page="@(Model.PageIndex - 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"   
    asp-route-page="@(Model.PageIndex + 1)"
    asp-route-currentFilter="@ViewData["CurrentFilter"]"
    class="btn btn-primary @nextDisabled">
    Next
</a>

